* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

html {
    font-family: 'Open Sans', sans-serif;
}

.main {
    width: 90%;
    margin: auto;
    margin-top: 50px;
}

.img-main {
    width: 100%;
    position: relative;
}

.img-main-img {
    width: 100%;
    opacity: 0.7;
}

.text-main {
    width: 100%;
    position: absolute;
    top: 50%;
    text-align: center;
    color: #000;
    font-size: 42px;
    font-weight: 700;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 9px;
}

.list-menu {
    position: absolute;
    top: 28%;
    left: 8%;
}

.item-menu {
    list-style: none;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    padding-top: 20px;
    letter-spacing: 4px;
}

.img-sub-main {
    display: flex;
    justify-content: center;
}

.img-sub-main2,
.img-sub-main1 {
    position: relative;
    width: 100%;
}

.img-main-img1 {
    width: 100%;
}

.text-main1,
.text-main2,
.text-main3 {
    width: 100%;
    text-align: center;
    position: absolute;
    font-size: 35px;
    letter-spacing: 5px;
    color: #fff;
    font-weight: bold;
}

.text-main2,
.text-main1 {
    top: 50%;
}

.text-main3 {
    top: 56%;
    font-size: 25px;
    letter-spacing: 5px;
    color: #fff;
}

.text {
    text-transform: uppercase;
    text-align: center;
    padding: 10px 10px;
    color: #716a6a;
    font-size: 12px;
    font-weight: 500;
}

.list-img {
    display: flex;
}

.item-img {
    list-style: none;
    width: 20%;
}

.item-img-small {
    background-size: cover;
    /* object-fit: contain; */
    width: 100%;
    height: 280px;
}

.item-img-link {}

.footer {
    display: flex;
    justify-content: space-between;
    margin: 30px 54px;
}

.footer-left {
    width: 50%;
}

.sale {
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 2px;
}

.search {}

.search input {
    padding: 4px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    letter-spacing: 2px;
    width: 60%;
}

.search button {
    padding: 8px;
    background-color: #000;
    color: #fff;
    font-weight: 500;
    border: none;
    font-size: 12px;
}

.icon {}

.icon i {
    font-size: 27px;
    padding: 12px 25px 0 0;
}

.footer-right {}

.customer {}

.customer a {
    margin: 9px 0;
    display: block;
    text-decoration: none;
    color: #504e4e;
    font-size: 12px;
}

.customer p {
    font-weight: 700;
    font-size: 15px;
}

.copyright {
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}

.copyright p {
    font-size: 11px;
    border-right: 1px solid #6f6969;
}

.copyright p:nth-child(5) {
    border-right: none;
}

.copyright a {
    text-decoration: none;
    color: #000;
    padding: 3px 14px;
}


/* reponsive */

@media (min-width: 739px) and (max-width:1024px) {
    .list-menu {
        top: 5%;
    }
    .item-menu {
        font-size: 10px;
    }
    .text-main {
        font-size: 34px;
    }
    .text-main3 {
        top: 58%;
        font-size: 17px;
    }
    .text-main1 {
        font-size: 30px;
    }
    .item-img-small {
        height: 70%;
    }
    .footer {
        margin: 0;
    }
}

@media (max-width: 738px) {
    .main {
        width: 96%;
        margin-top: 10px;
    }
    .text-main {
        font-size: 17px;
    }
    .list-menu {
        display: none;
    }
    .text-main1,
    .text-main2 {
        font-size: 12px;
    }
    .text-main3 {
        font-size: 10px;
    }
    .item-img-small {
        height: 140px;
    }
    .footer {
        margin: 30px 0;
    }
    .icon i {
        font-size: 21px;
        padding: 11px 10px 0 0;
    }
    .copyright a {
        color: #000;
        padding: 3px 3px;
    }
    .copyright p {
        font-size: 7px;
    }
}